body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

.ppal_container{ 
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    
}

header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 10vw 2vh 10vw;
    background-color: rgba(51, 51, 51,0.8) ;
    color: white;
    height: 15vh;
    gap:20vw;
    box-sizing: border-box;
    width: 100%;
    
    
}
main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;  
    padding:2vh 20vw 2vh 20vw;
    box-sizing: border-box;   
}
section{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}
section:last-of-type{
    margin-bottom: 5%;
}
ul{
    list-style-type: none;
}
.usuario_data{
    display: flex;
    flex-direction: column;
    gap:10px;
    font-size: 1.3em;

}
main > div{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    

}
.form_container{
    display: flex;
    flex-direction: column;
    gap:20px;

}

form{
    display: contents;
}

.form_item{
    display: flex;
    align-items:center;
    font-size: 1.05em;
    width: 100%;
    gap:20px;
    
}
.form_item >label{

    font-weight: bold;
}
.form_item > input{
    border: 2px solid rgb(92, 91, 91);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding:1vh 1.7vw 1vh 1.7vw;
    border-radius: 5vw;  
    width: 100%;
}
.form_item_radio{
    display: flex;
    width: 100%;
    gap:20px;
    align-items: center;
    justify-content: center;
}
.site-footer {
    background-color:rgba(51, 51, 51,0.8) ;
    color: white;
    text-align: center;
    padding: 2vh 20vw 2vh 20vw;
    font-size: 0.8em;
    height:15vh;
    box-sizing: border-box;
    
}

.footer-link {
    color: #a2ecff;
}

button{
    padding:1vh 1.7vw 1vh 1.7vw;
    border-radius: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.05em;
    border: 2px solid rgb(92, 91, 91);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.button_container{
    display: flex;
    align-items: center;
    justify-content: center;

}




